{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 m-md-auto pt-5">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
