<p class="thread-block">
    <div class="row border border m-0">
        <div class="col-1 bg-light p-2 text-center text-success font-weight-bold">
            +0
        </div>
        <div class="col-11  bg-white p-2">
            <p class="thread-header">
                Par {{ thread.author.email}} le {{ thread.getPublicationDate|date('d/m/Y') }}
            </p>

            <p class="thread-title border-bottom">
                {{ thread.title }}
            </p>

            <p class="thread-content">
                {{ thread.content|raw }}
            </p>
        </div>
    </div>
</p>