{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 p-3">
            <a class="btn btn-thread w-100 mb-3" href="{{ path('thread_create') }}"><i class="fas fa-plus-circle"></i> Ajouter un Thread</a>
            <div class="all-thread">
                {% for thread in threads %}
                    {% include 'thread/thread_block.html.twig' with {'thread': thread} %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="bg-white rounded">
                <h2 class="p-3">Meilleurs Thread</h2>

                <p class="p-3">
                    Ceci est un thread
                </p>

                <p class="p-3">
                    Ceci est un autre thread
                </p>
            </div>
        </div>
    </div>
{% endblock %}