{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8 p-3">
            <div class="bg-white p-3 rounded">
                Liste des Thread
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="bg-white p-3 rounded">
                Meilleurs Thread du jour
            </div>
        </div>
    </div>
{% endblock %}